@font-face {
    font-family: 'sf_ui_textheavy';
    src: url('/fonts/sf_ui_text/sf-ui-text-heavy-webfont.woff2') format("woff2"), url('/fonts/sf_ui_text/sf-ui-text-heavy-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_textheavy';
    src: url('/fonts/sf_ui_text/sf-ui-text-heavyitalic-webfont.woff2') format("woff2"), url('/fonts/sf_ui_text/sf-ui-text-heavyitalic-webfont.woff') format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'sf_ui_text';
    src: url('/fonts/sf_ui_text/sf-ui-text-bold-webfont.woff2') format("woff2"), url('/fonts/sf_ui_text/sf-ui-text-bold-webfont.woff') format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_text';
    src: url('/fonts/sf_ui_text/sf-ui-text-bolditalic-webfont.woff2') format("woff2"), url('/fonts/sf_ui_text/sf-ui-text-bolditalic-webfont.woff') format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'sf_ui_text';
    src: url('/fonts/sf_ui_text/sf-ui-text-semibold-webfont.woff2') format("woff2"), url('/fonts/sf_ui_text/sf-ui-text-semibold-webfont.woff') format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_text';
    src: url('/fonts/sf_ui_text/sf-ui-text-semibolditalic-webfont.woff2') format("woff2"), url('/fonts/sf_ui_text/sf-ui-text-semibolditalic-webfont.woff') format("woff");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'sf_ui_text';
    src: url('/fonts/sf_ui_text/sf-ui-text-medium-webfont.woff2') format("woff2"), url('/fonts/sf_ui_text/sf-ui-text-medium-webfont.woff') format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_text';
    src: url('/fonts/sf_ui_text/sf-ui-text-mediumitalic-webfont.woff2') format("woff2"), url('/fonts/sf_ui_text/sf-ui-text-mediumitalic-webfont.woff') format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'sf_ui_text';
    src: url('/fonts/sf_ui_text/sf-ui-text-regular-webfont.woff2') format("woff2"), url('/fonts/sf_ui_text/sf-ui-text-regular-webfont.woff') format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_text';
    src: url('/fonts/sf_ui_text/sf-ui-text-regularitalic-webfont.woff2') format("woff2"), url('/fonts/sf_ui_text/sf-ui-text-regularitalic-webfont.woff') format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'sf_ui_text';
    src: url('/fonts/sf_ui_text/sf-ui-text-light-webfont.woff2') format("woff2"), url('/fonts/sf_ui_text/sf-ui-text-light-webfont.woff') format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_text';
    src: url('/fonts/sf_ui_text/sf-ui-text-lightitalic-webfont.woff2') format("woff2"), url('/fonts/sf_ui_text/sf-ui-text-lightitalic-webfont.woff') format("woff");
    font-weight: 300;
    font-style: italic;
}